/* Nav.css */
:root {
  --font_head: "Great Vibes", cursive;
  --font_sub: "Dosis", sans-serif;
  --color_1: #5e9a8e;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0rem;
  background-color: #ffffff;
  color: #000000;
  z-index: 100000;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.3);
}

.navbar a {
  font-size: 35px;
  cursor: pointer;
}

.logo {
  font-family: var(--font_head);
  font-size: 24px;
  color: #5e9a8e;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.logo i {
  font-size: 30px;
  margin: 0 5px;
  color: #5e9a8e; /* Example color for the heart icon */
}

.nav {
  height: 5vh;
  list-style: none;
  margin: 0;
  padding: 1rem 1rem;
  display: flex;
}

.nav li {
  font-family: var(--font_sub);
  margin: 0 15px;
}

.nav a {
  color: #000000;
  text-decoration: none;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}
